
<div
  class="conversionExports"
  vue-entry="AdvertisingConversionExport.ConversionExportManage"
  export-types="{{ exportTypes|json_encode }}"
  already-created-export-types="{{ alreadyCreatedExportTypes|json_encode }}"
  click-id-providers="{{ clickIdProviders|json_encode }}"
  attribution-models="{{ attributionModels|json_encode }}"
  has-write-access="{{ (hasWriteAccess == 1)|json_encode }}"
></div>
