<div
    vue-entry="FormAnalytics.FormSummary"
    form="{{ form|default(null)|json_encode }}"
    can-edit-form="{{ canEditForm|default(null)|json_encode }}"
    is-visitor-log-enabled="{{ isVisitorLogEnabled|default(false)|json_encode }}"
    attribute-translations="{{ attributeTranslations|default(null)|json_encode }}"
    pattern-translations="{{ patternTranslations|default(null)|json_encode }}"
    segment="{{ segment|default(null)|json_encode }}"
></div>
